/*Universal Selector*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

:root {
  font-size: 16px;
  font-family: "Arial, sans-serif";
}

*:before,
*:after {
  box-sizing: border-box;
}

/*Eement Selectors */

body {
  position: relative;
  flex-direction: column;
  display: flex;
  font-family: "Arial, sans-serif";
  width: 100%;
  height: 100vh;
  min-height: 100vh; 
  background-color: #8d949e;
   
}

body, html{
  margin: 0;
  padding: 0;
      
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #e28e2d;
}

article {
  margin-top: 15px;
  padding-bottom: 29pt;
}

article:first-of-type {
  border-left: 4pt solid #111010;
  margin-top: 0px;
}

article p {
  padding-top: 25pt;
  padding-left: 120pt;
  margin-left: 250pt;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

/* Class Selectors */

.hero {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #470f0f;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.header {
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #08175a;
  color: #fff;
  border-bottom: 6pt solid #000000;
}

.header h1 {
  margin: 0px;
  border-top: 10px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 30pt;
}

.header nav {
  display: flex;
  justify-content: right;
}

.header a {
  color: #fff;
  text-decoration: none;
  margin: 0px;
  margin-right: 2rem;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin-right: 0;
}

.sidebar article {
  margin-left: 25px;
}

/* ===== side nav ===== */
.profile-pic {
  position: relative;
  display: flex;
  background-image: url(../images/me.jpg);
  width: 250px;
  height: 250px;
  background-size: cover;
  top: -81pt;
  right: 1pt;
}

.profile {
  margin-top: -80pt;
  padding-left: 3pt;
}


.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -71pt;
}

.left-nav h2 {
  min-width: 1rem;
  max-width: 2rem;
  float: left;
  white-space: nowrap;
  margin-left: 60pt;
  color: #1f0c0c;
  font-size: 24px;
  font-weight: bold;
}
.card {
  border-left: 4pt solid #111010;
  margin-top: 80pt;
  padding-left: 130pt;
  /* margin-left: -65pt; */
}

#work {
  background-color: #08175a;
}


.push-down {
  padding-left: 92pt;
  padding-bottom: 550pt;
  /* padding-right: 38pt; */
  margin-right: 126pt;
  margin-top: -250pt;
}


/*==== contacts ====*/

.contacts-nav {
  margin-left: 20px;
}
.contacts-nav h2 {
  color: #1f0c0c;
  font-size: 24px;
  font-weight: bold;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-weight: 550;
  list-style-type: none;
  border-left: 4pt solid #111010 ;
  margin-left: 94px;
  margin-top: -25pt;
  margin-bottom: 145px;
  margin-right: -251pt;
  padding-left: 210pt;
}

.contacts a {
  text-decoration: none;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #113686;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

.contact {
  margin-top: 100pt;
  margin-left: -100px;
}

.footer {
  bottom: 0;
  width: 100%;
  clear: both;
  font-family: "Arial", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    sans-serif;
  text-align: center;
  background-color: #8d949e;
  padding-top: 15pt;
  border-top: 3pt solid #000000;
}

.footer h2 {
  font-size: 20px;
}
.footer p {
  padding-bottom: 25pt;
}




@media screen and (max-width: 980px) {
 
  article {
    margin-top: 15px;
    padding-bottom: 29pt;
  }
  
  article:first-of-type {
    border-left: #111010 solid 0.2rem;
    margin-top: 0px;
  }
  
  article p {
    padding-top: 25pt;
    padding-left: 0pt;
    margin-left: 30pt;
    text-align: center;
    font-size: 20px;
  }
  
  
  
  .profile-pic {
    position: relative;
    display: flex;
    background-image: url(../images/me.jpg);
    width: 250px;
    height: 250px;
    background-size: cover;
    top: -93pt;
  }
  
  .profile {
    margin-top: -95pt;
  }
  
  .push-down {
    margin-top: 0pt;
    padding-left: 9pt;
    padding-bottom: 550pt;
    margin-right: 120pt;
  }
  




  .sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-right: 0;
  }

  .contact {
    margin-top: 130px;
    margin-left: -50pt;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    font-weight: 550;
    list-style-type: none;
    border-left: .2rem solid #111010 ;
    margin-left: 130px;
    margin-top: -24pt;
    margin-bottom: 145px;
    margin-right: 0pt;
    padding-left: 40pt;
  }
  .contacts a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #113686;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }


}